# packaging
pip>=20
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
jupyter
matplotlib
tensorflow-cpu

# visualisation, web server
streamlit

# tests/linter
pytest

# API
mlflow

# utilities
# six>=1.14
# joblib
# memoized-property
# termcolor
